<div style="position: absolute; margin-left: 35%; margin-top: 10%;" class="container col-md-6">
    
<h5 style="margin-left: 7%; margin-bottom: 5%;">نظام إدخال طلبات البطاقات المدينة </h5>
    <a   (click)="goTo('Cards')" class="col-md-2 form-group">
        <div style="background-color: #006D38; height: 70px; width: 60%;" >
            <h6 style="text-align: center; padding-top: 5%; color: white;">طلبات البطاقات</h6>
        </div>
    </a>

<a (click)="goTo('create-print-request')"  >
    <div class="tabColorHover" style="background-color: #006D38; height: 70px; width: 60%;">
        <h6 style="text-align: center; padding-top: 5%; color: white;">التقارير</h6>
    </div>
</a>

<a  class="tabColorHover"  (click)="goTo('recieve-report')" class="col-md-2">
    <div  style="background-color: #006D38; height: 70px; width: 60%;">
        <h6 style="text-align: center; padding-top: 5%; color: white;">استلام ملف طباعة</h6>
    </div>
</a>

</div>