:host {
  background-color: #fafafa;
  display: block;
  height: 80px;
  .navbar {
    background-color: #fafafa;
    .navbar-brand {
      color: #fff;
      box-shadow: #999;
    }
    .nav-item > a {
      color: #666666;
      &:hover {
        color: #16a086;
      }
    }
  }

  .messages {
    width: 300px;
    .media {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
      &:last-child {
        border-bottom: none;
      }
    }
    .media-body {
      h5 {
        font-size: 13px;
        font-weight: 600;
      }
      .small {
        margin: 0;
      }
      .last {
        font-size: 12px;
        margin: 0;
      }
    }
  }
}
.shadoow {
  box-shadow: #999;
  border-bottom: 0.5px solid #ddd;
  margin-bottom: -50px;
}
.MobileContent {
  text-align: center;
}
.MobileContentMarginLeft {
  margin-left: 0;
}
.MobileContentMarginRight {
  margin-right: 65%;
}
.mobileviewguide {
  display: block;
}

@media screen and (max-width: 768px) {
  .MobileContent {
    //display: none;
    margin: 0;
  }
  .mobileviewguide {
    display: none;
  }
}
